import React from 'react';
import PropTypes from 'prop-types';

const {{properCase name}} = () => {
	return <div>Lets start</div>
};

{{properCase name}}.defaultProps = {};

{{properCase name}}.propTypes = {};

export { {{properCase name}} };
